/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*Bootstrap Classes*/

body {
	font-family: "helvetica", sans-serif;
}

.text-center {
	text-align: center;
}

.h-25{
	height: 25%;
}

.p-3 {
	padding: 15px;
}

.bg-success {
	background-color: forestgreen;
}


.bg-danger {
	background-color: orange;
}

.bg-warning {
	background-color: lightslategray;
}




/*Bootstrap Flexbox Classes*/

.d-flex {
	display: flex;
}

/*This willm only work along w/ dflex, horizontal*/
.justify-content-center {
	justify-content: center;
}

/*Targets y-axis, vertical*/
.align-items-center {
	align-items: center;
}

.flex-column {
	flex-direction: column;
}
.
.flex-column-reverse {
	flex-direction: column-reverse;
}